body {
    margin-left: 5%;
    margin-top:1%;
    margin-right: 5%;
    background-color: grey;
    font-family: "Karla", sans-serif;
}
main{
    padding:36px;
    background-color: #363636;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:white;
}
.header {
    display:flex;
    align-items: center;
    height: 90px;
    background-color: black;
    color:white;
    padding:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:white;
}
.header--image{
    margin-left:15px;
    margin-right: 30px;
    border-radius: 15%;
    border-color:#bdbdbd;
    border-style:groove;
    scale:110%;
}
.form {
    display:grid;
    grid-template: 120px 1fr auto auto/ 1fr 1fr;
    gap:20px;
}
.form--textboxes{
    grid-column:1/-1;
    display:grid;
    grid-template: 1fr / 1fr 1fr;
    border-style: solid;
    border-color:white;
    border-radius:5px;
    overflow-y:auto;
    scroll-behavior: smooth;   
    justify-items: center;
    align-items:center;
    
}
.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    font-size:15px;
    font-weight: bold;
    text-indent:5px;
    height:35px;
    width:740px;
    margin-right:5px;
}
.form--button--textboxes{
    margin-bottom:10px;
    margin-top:10px;
    margin-left:15%;
    margin-right:15%;
    grid-column:1/-1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size:20px;
    width:300px;
}
.form--button--textboxes:hover{
    background-color:#aba9a9;
    transition-duration:500ms;
}
.form--button--textboxes:active{
    transform:scale(0.99);
}
.form--button{
    height:50px;
    margin-left:15%;
    margin-right:15%;
    grid-column:1/-1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size:20px;
}
.form--button:hover{
    background-color:#aba9a9;
    transition-duration:500ms;
}
.form--button:active{
    transform:scale(0.99);
}
.form--button--removetextbox{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size:20px;
    width: 40px;
    height: 40px;
}
.form--button--removetextbox:hover{
    background-color:#aba9a9;
    transition-duration:500ms;
}
.form--button--removetextbox:active{
    transform:scale(0.99);
}
.text--input--comp {
    display:grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    height:35px;
    width:790px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 1px;
}
.form--image{
    grid-column: 1/-1;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.form--meme{
    border-style: solid;
    border-color:white;
}
.Block{
    position:absolute;
    align-items:center;
    justify-items:center;
    display: grid;
    grid-template: 20px 1fr 20px/20px 1fr 20px;
    border-style: dashed;
    z-index: 0;
}
.Block:hover {
    border-style:dashed;
    border-color: white;
    z-index: 1;
}
#Resizable{
    border: 2px solid rgb(179, 179, 179); 
    height: 200px;
    width: 200px;  
}
#DraggableN{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: row-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableW{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: col-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableS{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: row-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableE{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: col-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableNW{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: nw-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableNE{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: ne-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableSW{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: sw-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#DraggableSE{
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid black; 
    cursor: se-resize;
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}


