body {
    margin-left: 5%;
    margin-top:1%;
    margin-right: 5%;
    background-color: grey;
    font-family: "Karla", sans-serif;
}
main{
    padding:36px;
    background-color: #363636;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:white;
}
.header {
    display:flex;
    align-items: center;
    height: 90px;
    background-color: black;
    color:white;
    padding:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:white;
}
.header--image{
    margin-left:15px;
    margin-right: 30px;
    border-radius: 15%;
    border-color:#bdbdbd;
    border-style:groove;
    scale:110%;
}
.form {
    display:grid;
    grid-template: 40px 40px 1fr/ 1fr 1fr;
    gap:20px;
}
.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    font-size:15px;
    font-weight: bold;
    text-indent:5px;
}
.form--button{
    height:150%;
    margin-left:15%;
    margin-right:15%;
    grid-column:1/-1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size:20px;
}
.form--button:hover{
    background-color:#aba9a9;
    transition-duration:500ms;
}
.form--button:active{
    transform:scale(0.99);
}
.form--image{
    grid-column: 1/-1;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.Block{
    position:absolute;
    align-items:center;
    justify-items:center;
    display: grid;
    grid-template: 20px 1fr 20px/20px 1fr 20px;
    background-color:white;
}
#Resizable{
    border: 1px solid black; 
    height: 200px;
    width: 200px;
    background-color:red;
}
#DraggableN{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: row-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableW{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: col-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableS{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: row-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableE{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: col-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableNW{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: nw-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableNE{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: ne-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableSW{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: sw-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}
#DraggableSE{
    background: rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    cursor: se-resize;
    height: 20px;
    width: 20px;
    background-color:black;
}


